<%- include('partials/header') -%>
<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout" class="col-3 btn btn-primary">Logout</a>
            </div>

            <div class="mt-5">
                <h2>Create a notepad</h2>
                <form action="/notepad/createNotepad" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-6">
            <ul class="row list-unstyled">
                <% for(var i=0; i<notepads.length; i++) {%>
                    <li class="col-6 justify-content-between mt-5">
                        <a href="/notepad/<%= notepads[i]._id%>">
                            <%= notepads[i].title%>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

</div>
</div>
<%- include('partials/footer') -%>