<%- include('partials/header') -%>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <h2><%= notepad.title %></h2>
            <div class="row justify-content-between">
                <!-- Edit button -->
                <button type="button" class="btn btn-primary fa fa-edit" data-bs-toggle="modal" data-bs-target="#notepadModal">
                </button>
                <!-- Edit notepad modal -->
                <form action="/notepad/editNotepad/<%= notepad.id %>?_method=PUT" method="POST" class="modal fade" id="notepadModal" tabindex="-1" aria-labelledby="notepadModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="notepadModalLabel">Change Notepad Title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="title" class="form-label">New Title</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Delete button -->
                <form
                        action="/notepad/deleteNotepad/<%= notepad.id %>?_method=DELETE"
                        method="POST"
                        class="col-3"
                >
                    <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
            </div>
        </div>

        <h2>Entries</h2>
        <!-- Show Entries -->
        <ul id="entries">
            <% for(var i=0; i<entries.length; i++) {%>
                <li class="col-6 justify-content-between mt-5 entry">
                    <p class="entry--content"><%= entries[i].entry%></p>
                    <section class="options">
                        <% var entryId = entries[i]._id %>
                        <span class="temp">Raw ID: <%= entries[i]._id %></span>
                        <span class="temp">Var ID: <%= entryId %></span>
                        <span class="temp">index: <%= i %></span>
                        <span class="timeStamp"><%= entries[i].createdAt.toLocaleString() %></span>
                        <span class="category"><%= entries[i].category %></span>
                        <!-- Edit Entry Button -->
                        <button type="button" class="btn btn-primary fa fa-edit" data-bs-toggle="modal" data-bs-target="#editEntryModal">
                        </button>
                        <!-- Edit Entry Modal -->
                        <form action="/entry/editEntry/<%= entryId %>?_method=PUT" method="POST" class="modal fade" id="editEntryModal" tabindex="-1" aria-labelledby="editEntryModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editEntryModalLabel">Edit Entry <%= entryId %></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="temp">index: <%= i %></p>
                                        <label for="entry" class="form-label">Edit Entry</label>
                                        <input type="text" class="form-control" id="entry" name="entry">
                                        <label for="category" class="form-label">Edit Category</label>
                                        <input type="text" class="form-control" id="category" name="category">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--<form action="#" method="PUT" class="col-3">
                            <button class="btn btn-primary fa fa-edit" type="submit"></button>
                        </form>-->
                        <!-- Delete Entry Button -->
                        <form action="/entry/deleteEntry/<%= entries[i]._id %>?_method=DELETE" method="POST" class="col-3">
                            <button class="btn btn-primary fa fa-trash" type="submit"></button>
                        </form>
                    </section>
                </li>
            <% } %>
        </ul>

        <!-- Add Entry -->
       <!-- <div class="col-6 mt-5">
            <form action="/entry/createEntry/<%=notepad.id%>" method="POST">
                <div class="mb-3">
                    <label for="entry" class="form-label">Add Entry</label>
                    <input type="text" class="form-control" id="entry" name="entry">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>-->

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#entryModal">
            Add entry
        </button>
        <!-- Modal -->
        <form action="/entry/createEntry/<%=notepad.id%>" method="POST" class="modal fade" id="entryModal" tabindex="-1" aria-labelledby="entryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entryModalLabel">Add Entry</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="entry" class="form-label">Add Entry</label>
                        <input type="text" class="form-control" id="entry" name="entry">
                        <label for="category" class="form-label">Add Category</label>
                        <input type="text" class="form-control" id="category" name="category">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('partials/footer') -%>